head {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: #222222;

}
body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: #222222;

}
h1{
  font-size: 20px;
  line-height: normal;

}
nav{


}
footer{
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: #222222;


}